---
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4

AlignEscapedNewlines: Left
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Linux
ConstructorInitializerAllOnOneLineOrOnePerLine: true
...
